@media only screen and (min-width: 400px) {
    .subBox .text {
        width:80%;
        margin-left:auto;
        margin-right:0;
    }

    .footerContact > div {
        width:auto;
    }

    .footerContact .labels {
        width:200px;
        text-indent:10px;
        margin-left:5vw;
    }

    .footerBottom p {
        font-size:16px;
    }

    .footerBottom .data {
        width:50%;
    }

    .footerBottom h1 {
        margin-left:.5vw;
        text-indent:5vw;
    }
}
